/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "StudyHard";
  src: url("fonts/StudyHard.ttf") format("truetype");
}

@font-face {
  font-family: "Shawkind";
  src: url("fonts/Shawkind.ttf") format("truetype");
}

/* Global Styles */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "Urbanist", sans-serif;
}

p {
  color: #020101;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

:focus {
  outline: 1px solid #4a90e2;
  outline-offset: 2px;
}

.text-code {
  font-family: monospace; 
  color:#333333;
  font-size: 0.875rem;
  background-color: #f0f0f0;
  padding: 0 4px;
  border-radius: 4px;
}

/* Navigation Link Styles */
.nav-link {
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease, background-size 0.5s;
  background: linear-gradient(currentColor 0 0) bottom / var(--d, 0) 1px no-repeat;
}

.nav-link:hover {
  --d: 100%;
}

.nav-link.active {
  font-weight: bold;
}

/* Heading Styles */
.heading-h1 {
  font-family: "Urbanist", sans-serif;
  font-size: 1.875rem;
  /* 30px */
}

@media (max-width: 40rem) {

  /* 640px */
  .heading-h1 {
    font-size: 1.875rem;
    /* 30px */
  }
}

.heading-h2 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  /* 20px */
}

/* Photo Gallery Styles */
.photo-gallery {
  columns: 5 12.5rem;
  /* 200px */
  gap: 1.5rem;
  /* 24px */
  width: 90%;
  transition: 0.3s;
  margin: 0 auto;
}

.photo-gallery:hover .photo-gallery__image {
  filter: grayscale(1);
}

.photo-gallery .photo-gallery__container {
  padding-top: 1.5rem;
  /* 24px */
}

.photo-gallery .photo-gallery__container:hover .photo-gallery__image {
  filter: grayscale(0);
}

.photo-gallery .photo-gallery__container:hover .photo-gallery__caption {
  opacity: 1;
}

.photo-gallery .photo-gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  box-shadow: 0.0625rem 0.125rem 0.125rem black;
  /* 1px 2px 2px */
}

.photo-gallery .photo-gallery__image:hover {
  transform: scale(1.1);
}

.photo-gallery .photo-gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5625rem 1.25rem 0.75rem;
  /* 25px 20px 12px */
  width: 100%;
  font-family: "Urbanist", sans-serif;
  font-size: 0.75rem;
  /* 12px */
  color: white;
  opacity: 0;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}

/* Book cover styles */
.book {
  display: block;
  width: 10rem;
  /* 160px */
  height: 15rem;
  /* 240px */
  position: relative;
  background: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1),
    0 0.5625rem 1.25rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: box-shadow 0.3s linear;
  border-radius: 0.3125rem;
  /* 5px */
}

.book:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25),
    0 0.5625rem 1.25rem rgba(0, 0, 0, 0.45);
}

.book img {
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: transform 0.45s ease;
}

.book:hover img {
  transform: rotateY(-25deg);
}

/* Image slider styles */
#image-slider ul li {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s ease-in-out, left 0.6s ease-in-out;
}

#image-slider ul li.active-img {
  left: 0;
  opacity: 1;
  z-index: 10;
}

.image-item {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.image-item:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.active-img .overlay {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  pointer-events: none;
}

.active-img:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

/* Macbook styles */
:root {
  --black: #000;
  --white: #fff;
  --gray-light: #cacacc;
  --gray-dark: #333;
  --gray-medium: #ddd;
  --shadow-dark: rgba(0, 0, 0, 0.8);
  --shadow-light: rgba(255, 255, 255, 0.3);
  --border-radius-screen: 3% 3% 0.5% 0.5%/5%;
  --border-radius-notch: 0 0 7% 7%/0 0 95% 95%;
  --gradient-base: linear-gradient(#eaeced, #edeef0 55%, #fff 55%, #8a8b8f 56%, #999ba0 61%, #4b4b4f 84%, #262627 89%, rgba(0, 0, 0, 0.01) 98%);
  --gradient-base-after: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.8) 0.5%, rgba(0, 0, 0, 0.4) 3.3%, transparent 15%, rgba(255, 255, 255, 0.8) 50%, transparent 85%, rgba(0, 0, 0, 0.4) 96.7%, rgba(255, 255, 255, 0.8) 99.5%, rgba(0, 0, 0, 0.5) 100%)
}

.macbook {
  padding: 4% 6%;
  margin: 0 auto;
  max-width: 800px
}

.screen {
  background: var(--black);
  border-radius: var(--border-radius-screen);
  margin: 0 auto;
  position: relative;
  width: 80%
}

.screen:before {
  border: 2px solid var(--gray-light);
  border-radius: var(--border-radius-screen);
  box-shadow: 0 0 0 1px var(--shadow-dark) inset, 0 0 1px 2px var(--shadow-light) inset;
  content: "";
  display: block;
  padding-top: 67%
}

.screen:after {
  content: "";
  border-top: 2px solid rgba(255, 255, 255, 0.15);
  position: absolute;
  bottom: 0.75%;
  left: 0.5%;
  padding-top: 1%;
  width: 99%
}

.viewport {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 4.3% 3.2%;
  background: var(--gray-dark)
}

.base {
  position: relative;
  width: 100%
}

.base:before {
  content: "";
  display: block;
  padding-top: 3.3%;
  background: var(--gradient-base);
  border-radius: 0 0 10% 10%/0 0 50% 50%
}

.base:after {
  background: var(--gradient-base-after);
  content: "";
  height: 53%;
  position: absolute;
  top: 0;
  width: 100%
}

.notch {
  background: var(--gray-medium);
  border-radius: var(--border-radius-notch);
  box-shadow: -5px -1px 3px rgba(0, 0, 0, 0.2) inset, 5px -1px 3px rgba(0, 0, 0, 0.2) inset;
  margin: -3.5% auto 0;
  z-index: 2;
  position: relative;
  width: 14%
}

.notch:before {
  content: "";
  display: block;
  padding-top: 10%
}

.macbook .viewport {
  transition: background-position 5s ease;
  background-position: 0 0;
  background-size: 100% auto;
  overflow: hidden;
  cursor: pointer
}

.macbook:hover .viewport {
  background-position: 0 100%
}

.macbook .viewport:after {
  background: radial-gradient(circle at right bottom, transparent 75%, rgba(255, 255, 255, 0.05) 75%, transparent);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

/* For all other browsers */
.arrow-down {
  transform: rotate(0deg);
  /* Default rotation for other browsers */
}

/* Safari-specific CSS */
@supports (-webkit-transform: rotate(0deg)) {
  .arrow-down {
    transform: rotate(90deg);
    /* Fix the upside-down issue for Safari */
  }
}